body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: black;
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	
}

h2 {
	font-size: 50px;
	margin-bottom: 58px;
	color: black;
}

h3 {
	font-size: 25px;
	margin-bottom: 28px;
	color: black;
}

a {
	text-decoration: none;
}

section {
	padding-top: 113px	
}

p {
	margin: 0;
	font-family: "Montserrat" , sans-serif;
	font-weight: : 400;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

.container {
	max-width: 1170px;
	/*позиционирование по центру*/
	margin: 0px auto;
}

	








#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #616161;

  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;

  width: 300px;
  height: 100%;

  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: white;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;

  color: #333;

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none;

  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

.menu-btn{
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right:0;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
  color: white;
}
 
.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  transition-duration: .25s;
}
.menu-btn > span::before {
  content: '';
  top: -8px;
}
.menu-btn > span::after {
  content: '';
  top: 8px;
}
.menubox{
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background: rgba(0,0,0,0.4);
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
}
.menu-item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
  color: white;
  margin-bottom: -15px;

}
.menu-item:hover {
  background-color: #CFD8DC;
}
#menu-toggle{
  opacity: 0;
}
#menu-toggle:checked ~ .menu-btn > span{
  transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-btn > span::before{
  top: 0;
  transform: rotate(0);
}
#menu-toggle:checked ~ .menu-btn > span::after{
  top: 0;
  transform: rotate(90deg);
}
#menu-toggle:checked ~ .menubox{
  visibility: visible;
  left: 0;
}


.burger-menu{
	display: none;
}








	

.header {
	background: url('../img/header top.png') no-repeat center top / cover;
	padding-top: 42px;
	color: #fff;
	padding-bottom: 10px;
	height: 830px;
}

header a {
	color: #fff;
}

.logo {
	margin-right: 69px;
	position: relative;
	right: -3px;
}


   

}
li {
	list-style-type: none;
}
.topmenu > li {
  display: inline-block;
  position: relative;
}
.topmenu > li > a {
  position: relative;
  padding: 10px 15px;
  left: -25%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px ;
  line-height: 1;
  letter-spacing: 3px;
  color: white;
  font-weight: 400;
  margin-right: 15px;

}
.topmenu > li > a:before {
  content: "";
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 100%;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  transform: translate(-50%, 20px);
  opacity: 0;
  transition: .3s;
}
.topmenu li:hover a:before {
  transform: translate(-50%, 0);
  opacity: 1;
}
.submenu {
  position: absolute;
  z-index: 4;
  left: 14%;
  top: 100%;
  width: 150px;
  padding: 15px 0 15px;
  margin-top: 5px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0,0,0,.2);
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, 20px);
  transition: .3s;
}
.topmenu > li:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}
.submenu a {
  font-family: 'Montserrat', san-serif;
  font-size: 11px;
  letter-spacing: 1px;
  padding: 5px 10px;
  transition: .3s linear;
  color: black;
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: 500;
}
.submenu a:hover {background: #e8e8e8;}


















.menu {
  position: relative;
  top: 25px;
  left: 15%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
  transform: translate(-50%, -50%);

  border-radius: 0.5rem;
  padding: 1rem 2rem;
  color: white;
}


.menu li {
	margin-right: 2rem;
}

.menu li:last-of-type {
	margin-right: 0px;
}

.menu li a {
	
	font-size: 15px;
	letter-spacing: 0.1em;
	 color: white;

	

}
.menu_link {
	position: relative;
  color: #2f3030;
  font-size: 1.25rem;
}

.menu_link:hover {
	
}

.menu_link:hover:before {
	-webkit-transform: scaleX(1);
	-ms-transform: scaleX(1);
	transform: scaleX(1);
	-webkit-transform-origin: left;
	-ms-transform-origin: left;
	transform-origin: left;
	-webkit-transition: -webkit-transform 0.25s;
	transition: -webkit-transform 0.25s;
	-o-transition: transform 0.25s;
	transition: transform 0.25s;
	transition: transform 0.25s, -webkit-transform 0.25s;
}

.menu_link:before {
	content: '';
	width: 100%;
	height: 1px;
	background-color: black;
	position: absolute;
	left: 0; bottom: -5px;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: right;
	-ms-transform-origin: right;
	transform-origin: right;
	-webkit-transition: -webkit-transform 0.25s;
	transition: -webkit-transform 0.25s;
	-o-transition: transform 0.25s;
	transition: transform 0.25s;
	transition: transform 0.25s, -webkit-transform 0.25s;
}
#
.menu li a:hover {
	border-bottom: 1px solid #fff;
}

.menu li {
	margin-right: 60px;
    position: relative;
    left: -11px;
}

.tel {
	font-size: 17px;
	position: relative;
	left: 1010px;
	bottom: 263px;
	font-style: 800;
}

.nav {
	display: flex;
	align-items: center;
}

.offer {
	
	margin-top: 216px;
}

.offer p {
	font-size: 19px;
	font-weight: 500;
	height: 60px;
	width: 650px;
	margin-bottom: 40px;
	
	margin: 1px;
	margin-bottom: 19px;
	position: relative;
    bottom: 23px;
    right: 12px;
    

	

	 
	
	  
}
	

	 
	
	  









.offer h1 {
	font-size: 45px;
	margin-bottom: 15px;
	letter-spacing: 0.02em
	height: 104px;
	width: 860px;
	font-weight: 800;
	position: relative;
    bottom: 24;
    right: 13px;
    
	
	

}


.description {
	display: flex;
	justify-content: space-between;
}

.description p {
	font-family: 'Montserrat', sans-serif;
	
	font-weight: 400;
	text-align: justify;
	line-height: 1.62em;
}

.desc-left, .desc-right {
	width: 567px;
	font-weight: 400;
	color: black;
}

.gallery {
	margin-top: 67px;
	display: flex;
	justify-content: space-between;
	margin-left: 90px;
	margin-right: 90px;
}

.gallery img {
	transition: all 0.5s ease;
}

.gallery img:hover {
	box-shadow: 0 20px 40px rgba(0,0,0,0.3);
	transform: scale(1.1);
}

.footer-text {
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	padding: 114px 0
}

.footer-text p {
	margin-right: 67px;
	position: relative;
	left: 5px;
	color: black;
}
h3 {
	margin-right: -10px;
}

.img7 {
	display: inline-flex;
	margin: auto -15px;
	margin-top: 1px;
	position: relative;
    bottom: 39px;
    left: -27px;
}
.s{
	display: flex;
	font-weight:  800;
	font-size: 25px;
    height:  50px;


}
.made {
	position: relative;
	left:  450px;
	margin-bottom: 100px;
	margin-top: 40px;

}

.wow {
	width: 300px;
	height: 111px;
	margin-top:50px;
	font-size: 16px;
	font-weight: 400;
}
.wow2{
	margin-top: 40px;
	position: relative;
	font-size: 16px;
	font-weight: 400;
}

}
.goodbuy {
	font-weight: 100;
	position: relative;
	left: 70px;

}
@media screen and (max-width: 1200px) {
	.container {
		width: 1140px;
	}
	.offer h1{
        position: relative;
        right: -40px;
	}
	.offer p{
         position: relative;
         right: -40px;
	}
	.logo{
         position: relative;
         left: 50px;
	}
	.img7{
		position: relative;
        left: 25px;
	}
	.topmenu{
		position: relative;
        left: 50px;
	}
	.tel{
		position: relative;
        left: 950px;
	}
}

@media screen and (max-width: 1199px) {
	.container {
		width: 960px;
	}
	.desc-left, .desc-right {
		width: 48%;
	}
	.gallery img:nth-child(1) {
		width: 23%;
	}
	.gallery img:nth-child(2) {
		width: 23%;
	}
	.gallery img:nth-child(3) {
		width: 48%;
	}
	.tel {
		position: relative;
        left: 800px;
	}
}

@media screen and (max-width: 991px) {
	.container {
		width: 720px;
	}
	.tel{
		display: none;
	}
	.offer h1{
		width: 750px;
	}
}

@media screen and (max-width: 769px) {
	.container {
		width: 540px;
	}
	.menu {
		display: none;
	}
	.menu-open {
	    display: block
	}
	.offer h1 {
		position: relative;
        right: 80px;
        width: 730px;
	}
	.offer p{
		position: relative;
        right: 80px;
	}
	.img7{
		position: relative;
        left: -95px;
	}
	.logo{
		position: relative;
        left: -70px;
	}
	.topmenu{
		display: none;
	}
	.burger-menu{
		display: block;
	}
	.menu-btn{
		position: relative;
        width: 55px; 
        left: 500px;
        top: -620px;
	}
	.tel{
		display: none;
	}
	.description {
		flex-wrap: wrap;
	}
	.desc-left, .desc-right {
		width: 100%;
	}
	.desc-left {
		margin-bottom: 40px;
	}
	.gallery img:nth-child(1),
	.gallery img:nth-child(2),
	.gallery img:nth-child(3) {
		width: 100%;
		margin-bottom: 20px;
	}
	.gallery {
		flex-wrap: wrap;
	}
	.footer-text {
		flex-wrap: wrap;
	}
	.footer-text p:nth-child(1) {
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 575px) {
	.container {
		width: 100%;
		padding: 0 15px;
	}
	.offer h1 {
		font-size: 34px;
        width: 550px;
        margin-left: 15px;
	}
	.tel {
		display: none;
	}
	.menu-open {
		margin-left: auto;
	}
	.offer p{
		width: 550px;
        margin-left: 15px;
	} 
	.img7 {
    position: relative;
    top: -25px;
    margin-left: -2px;
	}
	.topmenu {
		display: none;
	}
	.burger-menu{
		display: block;
	}
	.menu-btn{
		position: relative;
        width: 55px;
        left: 450px;
        top: -560px;

	}
}
@media screen and (max-width: 550px) {
	.container {
		width: 500px;
		padding: 0 15px;
	}
	.header {
	background: url('../img/Frame 29.png') no-repeat center top / cover;
	padding-top: 42px;
	color: #fff;
	padding-bottom: 10px;
	height: 830px;
}
	.offer h1 {
		font-size: 30px;
        width: 410px;
        position: relative;
        left: 1px;
       
	}
	.tel {
		display: none;
	}
	.menu-open {
		margin-left: auto;
	}
	.offer p{
		width: 400px;
        position: relative;
        left: 1px;
        font-size: 15px;
        
	} 
	.img7 {
        position: relative;
        top: -40px;
        left: -14px;
   
	}
	.logo{
		position: relative;
		left: 20PX;
	}
	.topmenu {
		display: none;
	}
	.burger-menu{
		display: block;
	}
	.menu-btn{
		position: relative;
        width: 55px;
        left: 330px;
        top: -615px;
	}
}

@media screen and (max-width: 490px) {
	.container {
		width: 100%;
		padding: 0 15px;
	}
	.header {
	background: url('../img/Frame 29.png') no-repeat center top / cover;
	padding-top: 42px;
	color: #fff;
	padding-bottom: 10px;
	height: 830px;
}
	.offer h1 {
		font-size: 30px;
        width: 410px;
        position: relative;
        left: 1px;
       
	}
	.tel {
		display: none;
	}
	.menu-open {
		margin-left: auto;
	}
	.offer p{
		width: 400px;
        position: relative;
        left: 1px;
        font-size: 15px;
        
	} 
	.img7 {
        position: relative;
        top: -40px;
        left: -14px;
   
	}
	.logo{
		position: relative;
		left: 20PX;
	}
	.topmenu {
		display: none;
	}
	.burger-menu{
		display: block;
	}
	.menu-btn{
		position: relative;
        width: 55px;
        left: 330px;
        top: -61px;
	}
}

@media screen and (max-width: 480px) {
	.container {
		width: 100%;
		padding: 0 15px;
	}
	.header {
	background: url('../img/Frame 29.png') no-repeat center top / cover;
	padding-top: 42px;
	color: #fff;
	padding-bottom: 10px;
	height: 830px;
}
	.offer h1 {
		font-size: 30px;
        width: 410px;
        position: relative;
        left: 1px;
       
	}
	.tel {
		display: none;
	}
	.menu-open {
		margin-left: auto;
	}
	.offer p{
		width: 400px;
        position: relative;
        left: 1px;
        font-size: 15px;
        
	} 
	.img7 {
        position: relative;
        top: -40px;
        left: -14px;
   
	}
	.logo{
		position: relative;
		left: 20PX;
	}
	.topmenu {
		display: none;
	}
	.burger-menu{
		display: block;
	}
	.menu-btn{
		position: relative;
        width: 55px;
        left: 330px;
        top: -215px;
	}
}



@media screen and (max-width: 475px) {
	.container {
		width: 100%;
		padding: 0 15px;
	}
	.header {
	background: url('../img/Frame 29.png') no-repeat center top / cover;
	padding-top: 42px;
	color: #fff;
	padding-bottom: 10px;
	height: 830px;
}
	.offer h1 {
		font-size: 30px;
        width: 410px;
        position: relative;
        left: 1px;
       
	}
	.tel {
		display: none;
	}
	.menu-open {
		margin-left: auto;
	}
	.offer p{
		width: 400px;
        position: relative;
        left: 1px;
        font-size: 15px;
        
	} 
	.img7 {
        position: relative;
        top: -40px;
        left: -14px;
   
	}
	.logo{
		position: relative;
		left: 20PX;
	}
	.topmenu {
		display: none;
	}
	.burger-menu{
		display: block;
	}
	.menu-btn{
		position: relative;
        width: 55px;
        left: 330px;
        top: -615px;
	}
}

@media screen and (max-width: 420px) {
	.container {
		width: 100%;
		padding: 0 15px;
	}
	.header {
	background: url('../img/Frame 29.png') no-repeat center top / cover;
	padding-top: 42px;
	color: #fff;
	padding-bottom: 10px;
	height: 830px;
}
	.offer h1 {
		    font-size: 26px;
    width: 350px;
    position: relative;
    left: 1px;
       
	}
	.desc-left{
		margin-left: 10px;
	}
	.desc-right{
		margin-right: 10px;
	}
	.tel {
		display: none;
	}
	.menu-open {
		margin-left: auto;
	}
	.offer p{
		width: 360px;
    position: relative;
    left: 1px;
    font-size: 15px;
        
	} 
	.img7 {
        position: relative;
        top: -30px;
        left: -14px;
	}
	.logo{
		position: relative;
		left: 20PX;
	}
	.topmenu {
		display: none;
	}
	.burger-menu{
		display: block;
	}
	.menu-btn{
	position: relative;
    width: 55px;
    left: 330px;
    top: -570px;
	}
}

